@font-face {
  font-family: "FunnelSans";
  src: url("../../assets/fonts/FunnelSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FunnelSans-Medium";
  src: url("../../assets/fonts/FunnelSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Newsreader";
  src: url("../../assets/fonts/FunnelSans-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "FunnelSans-Italic";
  src: url("../../assets/fonts/FunnelSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "FunnelSans-LightItalic";
  src: url("../../assets/fonts/FunnelSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
