$tablet-breakpoint: 768px;

$desktop-breakpoint: 1280px;

$global-padding: 1rem;

$tablet-breakpoint: 768px;
$sm-desktop-breakpoint: 900px;
$desktop-breakpoint: 1024px;
$lg-desktop-breakpoint: 1280px;

$primary: #76bd6b;
$secondary: #efeded;
$tertiary: #ffa500;
