@use "../../styles/partials/mixins" as *;

.not-found {
  //   @include flex($direction: row, $justify: unset, $align: unset);

  @include flex($direction: column, $justify: unset, $align: center);
  padding-top: 5rem;
  height: 95vh;
  width: 100%;
  &__image {
    width: 90%;
  }
}
