@use "../../../styles/partials/variables" as *;

.subnav__button {
  &:hover {
    background-color: orange;
  }
}

.primary__button {
  border-radius: 11px;

  &:hover {
    background-color: orange;
  }
}
