@use "../../styles/partials/mixins" as *;

.add-comment {
  @include flex($direction: column, $justify: unset, $align: center);
  padding-top: 0;

  @include desktop {
    width: 1000px;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1rem;
  }
}

.primary__button-comment {
  margin-right: 0.8rem;
}
