@use "../../styles/partials/mixins" as *;

.add-comment {
  @include flex($direction: column, $justify: unset, $align: center);
  padding-top: 0;

  @include desktop {
    width: 50%;
    margin: 0 auto;
    gap: 1rem;
  }
}

.primary__button-comment {
  margin-right: 0.8rem;
}
