@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.home__main {
  // padding: $global-padding;
  @include flex($direction: column, $justify: unset, $align: center);
}

.landing {
  padding: 2.5rem 1rem;
  @include flex($direction: column, $justify: unset, $align: unset);
  &__text {
    width: 75%;
    font-size: 35px;
    font-weight: 300;
    // margin-right: 100px;
  }

  &__image {
    align-self: flex-end;

    // margin-right: -200px;
  }
}

.subnav {
  @include flex($direction: column, $justify: center, $align: center);

  height: 31.25rem;
  width: 100%;
  background: $primary;
  gap: 5rem;

  &__button {
    width: 10rem;
    border-radius: 11px;
  }
}
