@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.home__main {
  @include flex($direction: column, $justify: unset, $align: center);

  @include tablet {
    margin-bottom: 4rem;
  }
}

.landing {
  padding: 5rem 1rem 2.5rem;
  @include flex($direction: column, $justify: unset, $align: unset);

  &__text {
    width: 75%;
    font-size: 35px;
  }

  &__image {
    align-self: flex-end;
  }
}

.subnav {
  @include flex($direction: column, $justify: center, $align: center);

  height: 25rem;
  width: 100%;
  background: $primary;
  gap: 5rem;

  &__button {
    width: 10rem;
    border-radius: 11px;
  }
}

// .filters {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 0.3125rem;
// }

.home-posts {
  width: 100%;

  padding: 1rem 0;

  @include desktop {
    @include flex(
      $direction: row-reverse,
      $justify: space-around,
      $align: unset
    );
    padding: 2rem;
    &__content {
      // max-width: 28.125rem;
      max-width: 50%;
    }

    &__tags {
      &-select {
        // width: 6.25rem;
        width: 100%;
        max-width: 28.125rem;
        height: fit-content;
      }
    }
  }

  // @include tablet {
  //   @include flex($direction: row, $justify: unset, $align: unset);
  // }
  // &__content {
  // }
}

.spinner {
  height: 12.5rem;
}

.select {
  &__control {
    &.css-13cymwt-control {
      width: 95%;
    }
  }
}

// .select {
//   &.css-13cymwt-control {
//     // border-radius: 11px;
//     width: 95%;
//   }
// }
// .css-13cymwt-control {
//   width: 95%;
//   // align-self: center;
//   // margin: 1rem auto;
// }
