@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.home__main {
  @include flex($direction: column, $justify: unset, $align: center);

  @include tablet {
    margin-bottom: 4rem;
  }

  @include desktop {
  }
}

.landing {
  padding: 5rem 1rem 2.5rem;
  @include flex($direction: column, $justify: unset, $align: unset);

  &__text {
    width: 75%;
    font-size: 35px;
  }

  &__image {
    align-self: flex-end;
  }

  @include desktop {
    max-width: 1200px;
  }
}

.subnav {
  @include flex($direction: column, $justify: center, $align: center);

  height: 20rem;
  width: 100%;
  background: $primary;
  gap: 5rem;

  @include desktop {
    height: 25rem;
  }

  &__button {
    width: 10rem;
    border-radius: 11px;
  }
}

.home-posts {
  width: 100%;

  padding: 1rem 0;

  &__tags-select {
    width: 95%;
    margin: 0 auto;
  }

  @include tablet {
    max-width: 90%;
    margin: 0 auto;
  }
  @include desktop {
    @include flex(
      $direction: row-reverse,
      $justify: space-around,
      $align: unset
    );
    padding: 2rem;
    &__content {
      // max-width: 28.125rem;
      max-width: 50%;
    }

    &-select {
      width: 100%;
    }

    &__tags {
      &-select {
        // width: 6.25rem;
        width: 100%;
        max-width: 28.125rem;
        height: fit-content;
      }
    }

    max-width: 1200px;
  }
}

.spinner {
  height: 12.5rem;
}

.select {
  &__control {
    &.css-13cymwt-control {
      width: 100%;
      box-shadow: 0px 0px 1px 0.5px rgba(0, 0, 0, 0.1);
    }
  }
}
