@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;

.input {
  height: 60px;
  background-color: red;
  @include flex($direction: column, $justify: unset, $align: unset);

  &__comp {
    border-radius: 6px;
  }
}
