@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
  @include flex($direction: row, $justify: space-around, $align: center);
  position: sticky;
  bottom: 0;
  background: $primary;
  height: 3rem;

  @include desktop {
    display: none;
  }
}
