@use "../../styles/partials/mixins" as *;

.account {
  @include flex($direction: column, $justify: unset, $align: center);
  gap: 1rem;

  padding-bottom: 0;

  &__cover {
    position: absolute;
    bottom: 0;
    align-self: flex-start;
    padding-bottom: 1.8rem;
  }

  @include desktop {
    max-width: 50%;
    margin: 0 auto;
    gap: 1rem;
    padding-top: 10rem;
  }
}

.page-title {
  padding-left: 1rem;
}

.dialog {
  &__content {
    padding: 0;
    @include flex($direction: row, $justify: space-around, $align: unset);

    @include tablet {
      justify-content: space-between;
      padding: 0 2rem;
      // @include flex($direction: row, $justify: space-between, $align: unset);
    }
    // width: 100%;
    // padding-top: 0;
    // padding-left: 0;
    // margin: 0;
  }

  // &__title {
  //   &--bold {
  //     font-weight: bold;
  //   }
  // }
}
