@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.signup {
  @include flex($direction: column, $justify: unset, $align: center);

  gap: 1rem;

  @include tablet {
    max-width: 90%;
    margin: 0 auto;
  }

  @include desktop {
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;
    padding: 0 3rem;
    padding-top: 10rem;
  }

  &__button {
    width: 10rem;
    border-radius: 11px;
  }
}
