@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.create {
  @include flex($direction: column, $justify: unset, $align: center);
  @include h-padding;

  height: 100vh;

  &__tags {
    &-label {
      align-self: flex-start;
      padding-left: 0.6rem;
    }

    &-select {
      width: 95%;
      padding: 0.5rem 0;
    }
  }
}

.map-container-div {
  width: 90%;
  height: 300px;
}

// .subnav__button {
//   width: 10rem;
//   border-radius: 11px;
// }

.primary__button-next {
  // justify-content: center;
}

.next-button {
  // background: $primary;
}
