@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.create {
  @include flex($direction: column, $justify: unset, $align: center);

  @include tablet {
    max-width: 90%;
    margin: 0 auto;
  }

  @include desktop {
    flex-direction: row-reverse;
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  min-height: 100vh;

  &__inputs {
    @include flex($direction: column, $justify: space-between, $align: center);

    width: 98%;
    align-self: center;

    @include desktop {
      height: 20rem;
      justify-content: space-between;
    }

    &-tags {
      width: 95%;
    }
  }

  &__right {
    width: 98%;
    @include flex($direction: column, $justify: unset, $align: center);

    @include desktop {
      width: 90%;
    }
  }

  &__tags {
    &-label {
      align-self: flex-start;
      padding-left: 0.1rem;
      font-weight: 300;

      @include desktop {
        padding-left: 0;
      }
    }

    &-select {
      padding: 0.5rem 0;
      margin: 0;
    }
  }

  &__login {
    &--desktop {
      display: none;
    }

    @include desktop {
      display: none;

      &--desktop {
        display: block;
      }
    }
  }
}

.map-container-div {
  width: 98%;
  height: 500px;
  padding: 0 0.5rem;
  z-index: 0;

  @include desktop {
  }
}

.map-label {
  padding: 1rem 0.7rem 0.5rem;
  align-self: start;
}

.login-message {
  text-decoration: underline 2px;
  text-decoration-color: $primary;
  text-underline-offset: 0.3125rem;
}

.select {
  &__control {
    width: 100%;
    margin: 0 !important;
  }
}

.toaster-buttons {
  @include flex($direction: row, $justify: space-evenly, $align: unset);
  margin-top: 1rem;

  button {
    margin: 0 0.5rem;
  }
}

.login-alert {
  position: absolute;
  top: 1.5rem;
}

.post__button {
  &--mobile {
    align-self: center;
    justify-self: center;
  }

  &--desktop {
    display: none !important;
  }

  @include desktop {
    &--mobile {
      display: none !important;
    }

    &--desktop {
      display: block !important;
      align-self: center;
    }
  }
}
