@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.create {
  @include flex($direction: column, $justify: unset, $align: center);

  @include tablet {
    max-width: 70%;
    margin: 0 auto;
  }

  min-height: 100vh;

  &__tags {
    &-label {
      align-self: flex-start;
      padding-left: 0.9rem;
      font-weight: 300;

      @include desktop {
        padding-left: 1.5rem;
      }
    }

    &-select {
      width: 100%;
      padding: 0.5rem 0;
      margin: 0;
      // border-radius: 20px;
    }
  }
}

.map-container-div {
  width: 98%;
  height: 500px;
  padding: 0 0.5rem;
  z-index: 0;

  @include desktop {
    width: 95%;
  }
}

.map-label {
  padding: 1rem 0.7rem 0.5rem;
  align-self: start;
}

.login-message {
  text-decoration: underline 2px;
  text-decoration-color: $primary;
  text-underline-offset: 0.3125rem;
}

.select {
  &__control {
    width: 100%;
    margin: 0;
    // border-radius: 20px;

    // &.css-13cymwt-control {
    //   border-radius: 8px;
    // }
  }
}

// .css-13cymwt-control {
//   border-radius: 10px;
// }
