@use "../../styles/partials/mixins" as *;
.nav {
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;

  &__header {
    @include flex($direction: row, $justify: space-between, $align: unset);

    &-title {
    }
  }

  &__item {
    cursor: pointer;
    font-size: larger;

    &--hide {
      display: none;
    }
  }
}

.menu-icon {
}
